

/* Dynamic JavaScript Back */
/* Updated: 06/08/2020 */
#uo_back-button {
  /* display: none; set to be invisible upon load, only becomes visible if valid */
  
  background-color: #006dae;
  color: #ffffff;
  border: 0;
  padding: 8px 12px 8px 12px;
  margin: 0;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  
  position: absolute;
  z-index: 1000;
}	
#uo_back-button:hover {
  background-color: #009fd9;
}






/* ALL YOUR OPTIONAL CSS INCLUSIONS ARE BELONG BELOW HERE */
/*--------------------------------------------------------*/











